# Worksheet for Lecture 5 2018-09-04

This worksheet accompanies the lecture notes.

## Python syntax

Python uses spaces to show what goes together. 
Code at the same indent level goes together.

Be careful. Tabs show up as white space. Missing indents can break the "code block".

>Best practice: always use 4 spaces for indent; have editor change tabs to spaces

*within* a line, space doesn't matter

What is wrong with the following code? How do you fix it?
The next block doesn't work. The one after that does.

In [7]:
dna_string = 'CGCAGCTAACGCATTAAGCACTCCGCCTGGGGAGTACGACCGCAAGGTTGAA'

for nucleotid in dna_string:
if nucleotide == 'A':
    count_purines[0] = count_purines[0] + 1
    if nucleotide == 'G':
        count_purines[1] = count_purines[1] + 1

number_of_purines = count_purines + count_purines

print('input string: ', dna_string, '\nPurines: ', number_of_purines)

IndentationError: expected an indented block (<ipython-input-7-87c3868273ee>, line 4)

In [8]:
dna_string = 'CGCAGCTAACGCATTAAGCACTCCGCCTGGGGAGTACGACCGCAAGGTTGAA'
count_purines = [0,0]

for nucleotide in dna_string:
    if nucleotide == 'A':
        count_purines[0] = count_purines[0] + 1
    if nucleotide == 'G':
        count_purines[1] = count_purines[1] + 1

number_of_purines = sum(count_purines)

print('input string: ', dna_string, '\nPurines: ', number_of_purines)

input string:  CGCAGCTAACGCATTAAGCACTCCGCCTGGGGAGTACGACCGCAAGGTTGAA
Purines:  29

In [7]:
dna_string = 'CGCAGCTAACGCATTAAGCACTCCGCCTGGGGAGTACGACCGCAAGGTTGAA'
count_purines = [0,0]
for nucleotide in dna_string:
    if nucleotide == 'A' :
        count_purines[0] = count_purines[0] + 1
    if nucleotide == 'G' :
        count_purines[1] = count_purines[1] +1
number_of_purines= sum(count_purines)
print 'input string:' , dna_string, '\nPurines: ' , number_of_purines

input string: CGCAGCTAACGCATTAAGCACTCCGCCTGGGGAGTACGACCGCAAGGTTGAA
Purines:  29

## Python comments
single line comments begin with \# and can go anywhere except in code.

multiple line comments start and end with three tic marks: \`\`\`

Always include multi-line comments to describe your program. These are visible to everyone who uses your program.

Add comments to this code

In [12]:
'''
ADD LONG COMMENT HERE DESCRIBING CODE CHUNK
'''

dna_string = 'CGCAGCTAACGCATTAAGCACTCCGCCTGGGGAGTACGACCGCAAGGTTGAA'
count_purines = [0,0]

for nucleotide in dna_string: #ADD COMMENT HERE DESCRIBING PURPOSE OF LOOP
    if nucleotide == 'A':
        count_purines[0] = count_purines[0] + 1
    if nucleotide == 'G':
        count_purines[1] = count_purines[1] + 1

number_of_purines = sum(count_purines)

print'input string: ', dna_string, '\nPurines: ', number_of_purines

input string:  CGCAGCTAACGCATTAAGCACTCCGCCTGGGGAGTACGACCGCAAGGTTGAA
Purines:  29

In [15]:
DNA='AATGCTTA'
type(DNA)
number_of_Cs=DNA.count('C')
number_of_Cs

1

In [18]:
DNA='AATGCTTA'
type(DNA)
number_of_Ts= DNA.count('T')
number_of_Ts

3

In [19]:
DNA.count?

## Data types

Each object which represents an item of data has a "type". 
The type determines what properties one should expect it to have, and what you should expect it to do. 
Important properties are "type" and "value". 
You access the value any time you use the object by itself. 
The things the object does are called *methods*. 

You often hear an object called a "variable", for historical reasons.
Well, almost always, not just "often".

One accesses Python methods with like this: *object.method()*

For example, you expect something of type "dog" to have a name for its value, and to be able to bark. 
So, if *my_dog* were a python dog-type object, you would expect it's value to be something like "fido", and for *my_dog.bark()* to make that dog bark. 
So, one might see code like this

```
my_dog = dog('Fido')
type(my_dog)    # returns 'dog'
my_dog.bark()   # makes Fido bark
```

*dog* is not a built-in python data type. But there are built in types for numbers, strings, lists of objects, and more. 

python does it's best to guess what the type is for any object you create. 
It is not perfect (in particular, it often mistakes a string for a number). 
You can also *coerce* (or *cast*) an object to be of a specific type with *the_type(the_object)*.

### Scalar data types

#### numbers

type | description
---- | :-----------
int  | positive or negative integer (whole number)
float| floating point (aka "infinite precision" or decimal numbers)

There are other numeric types. There are variations of int and float that differ in their precision. There are (when using the appropriate module) complex numbers, fractions (in the form p/q), etc.

The methods one expects of numbers are all there, namely addition, subtraction, division, multiplication, comparison, etc. 
With numbers, one accesses these methods the way one would expect, without a ".".

You can display the value of a number with the print command *print(number)*.

try out the following
```

one = 
two = 

x = one + two
y = one/two

float_one = 
float_two = 

z = one * (float_one + float_two)

'1' + '2'

int('1')+float('2')

int(2.345)
float(2)
```

In [35]:
'1' + '2'

'12'

In [36]:
int('1')+float('2')

3.0

In [34]:
float(2.835)

2.835

In [30]:
one = 1
two = 2
x = one + two
x
y = one/two
y
float_one = 1.0
float_two = 2.0
z = one * (float_one + float_two)
z

3.0

In [28]:
one = 'a'
two = '2'
int(one+two)

ValueError: invalid literal for int() with base 10: 'a2'

In [34]:
1==1

True

In [21]:
x= one+two
x

NameError: name 'one' is not defined

## good
*hi*

In [30]:
float(2)

2.0

In [33]:
'1' < 2.3

False

In [31]:
# do some dumb number stuff

what types are these objects? What are their values?

What happens if you divide by zero?

#### Booleans

An object of boolean type can have one of only three possible values: *True*, *False*, or *None*. (Note the case of those values). 
These mean exactly what you think they mean (*None* means "I have no value").

When you do a comparison, the result is a boolean. 

Common comparisons are <, >, <=, >=, == (note, *not* =). 
But other methods can return boolean values. For example, *dog.has_fleas()* is likely to be either true or false. 

Putting an exclamation point in front of a comparison negates it. So, !<, != (not !==), and !<= mean "not less than", "not equal to", and "greater than" (aka "not less than or equal). 

Python does its best to make sense of your comparisons. Sometimes it can't figure out what you want.

Try out the following.

```
    1 < 2
    2 <= 1
    'a' == 'apple' #false
    'a' != 'apple' #don't work
    '1' < 2.345 # false
    'abraham' < 'isaac'  # true
    True == False #don't work
    true == FALSE #don't work
    (1<2) == ('pies' == 'squared') #false
```

In [45]:
# try some comparisons
(1<2) == ('pies' == 'squared')

False

#### Strings
 
A string, str in python, is an object whose value is a sequence of characters.
To create a string, enclose its characters in either single or double quotes. 
(I usually use single quotes because I am **that** lazy).
Characters that don't display, such as a tab or a newline, can still be part of a string.
You enter these with the *escape character*, the backslash \\.

Strings have methods one would expect of a string.
Some particularly useful methods are str.upper(), str.find(), str.count(), and str.join()
They do what you think they do.

When you co-erce an object to be a string, with *str(object)*, python tries to do what you think it should.

you can display the value of a string with *print(string)*. 

Try out the following:

```
    my_name = 'puddentain, ask me again and I\'ll tell you the same' # what is "\'" doing there?
    my_name.count('a')
    my_name.count(a)
    print('first a in', my_name, ' is at position ', my_name.find('a')
    dna = CGCAGCTAACGCATTAAGCACTCCGCCTGGGGAGTACGACCGCAAGGTTGAA
    dl = dna.lower()
    f = 'foo'
    b = 'bar'
    compare = f < b
    screw_up = f + b
    one = '1'
    two = '2'
    three = one + two
```

In [66]:
f = 'foo'
b = 'bar'
compare = f < b
compare
screw_up = f + b
screw_up  #'foobar'
one = '1'
two = '2'
three = one + two
three #'12'

'12'

In [62]:
dna = 'CGCAGCTAACGCATTAAGCACTCCGCCTGGGGAGTACGACCGCAAGGTTGAA'
dl = dna.lower()
dl
#'cgcagctaacgcattaagcactccgcctggggagtacgaccgcaaggttgaa'

'cgcagctaacgcattaagcactccgcctggggagtacgaccgcaaggttgaa'

In [57]:
    my_name = 'puddentain, ask me again and I\'ll tell you the same' #  "\'" there to make "'" work
    my_name.count('a') # count a in the string, result 6
    #my_name.count(a) #error
    my_name.find('a') # returns 7, find the position of a, start from 0
    print 'first a in', my_name, ' is at position ', my_name.find('a')
    #first a in puddentain, ask me again and I'll tell you the same  is at position  7

first a in puddentain, ask me again and I'll tell you the same  is at position  7


##### Indexing a string

A string is a sequential collection (a bunch of characters, all in a row).
You can always pull out a particular item in a sequential collection by indexing the object with []

For example, suppose

>dna = 'CGCAGCTAACGCATTAAGCACTCCGCCTGGGGAGTACGACCGCAAGGTTGAA'

* what is the first character in *dna*?
* what is dna[2]?

You can index from the rear end by using a negative value

* what is dna[-1]? dna[-2]?

If you do silly indexing, python will complain

Try these:
```
    dna[-10000]
    dna[10000]
```

In [71]:
dna = 'CGCAGCTAACGCATTAAGCACTCCGCCTGGGGAGTACGACCGCAAGGTTGAA'
#dna[-10000] # error
dna[0]

'C'

##### Slicing a string

To get a range of characters, between i and j in a string, use the index *string[i:j]*.
*string[:x]* means "start at the beginning and go up to position $x$
*string[x:]* means start as position x and go to the end

You can also use negative indexes, so that *string[:-3]* for example means "start at the beginning and go up until the third position from the right".

(note: this will help you with homework 3)

Consider

>my_name = 'puddentain, ask me again and I\'ll tell you the same'

What do the following return:

```
    my_name[]
    my_name[3]
    my_name[10:]
    my_name[3:5]
    my_name[my_name.find(','):]
    my_name[:]
    i = 3
    j = 5
    my_name[i:j]
    my_name[i:j+3]
    j = j+3
    my_name[i:j]
    my_name = my_name[my_name.find(','):]
```

In [84]:
my_name = 'puddentain, ask me again and I\'ll tell you the same'
my_name[0]
my_name[10:]
my_name[3:5] # returns 'de', include 3, except 5
my_name[my_name.find(','):]
my_name[:]
i = 3
j = 5
my_name[i:j]
my_name[i:j+3]
j = j+3
my_name[i:j]
my_name = my_name[my_name.find(','):]
my_name

", ask me again and I'll tell you the same"

##### Useful String methods

We will look at more string methods in more depth later. For now, take a look at the string methods with introspection and get information on them with the interactive help feature in jupyter

In particular, pay attention to
```
    str.count()
    str.find()
    str.upcase()
    str.replace()
    str.split()
```

In [3]:
dna = 'CGCAGCTAACGCATTAAGCACTCCGCCTGGGGAGTACGACCGCAAGGTTGAA'
dna.find('T')
#dna.lower()
#str.replace?

6

##### immutability
Python strings are *immutable*, meaning they cannot be changed. 
To modify a string, you need to make a copy of it and work on the copy, or you need to use the string methods.

For example, suppose I want to change 'y range' into 'x range'. What happens here:
```
my_string = 'y range'
my_string[0] = 'x'
```

You want something like

> 'x' + my_string[1:]

or 

> my_string.replace('y','x')

In [4]:
my_string = 'y range'
my_string[0] = 'x'

TypeError: 'str' object does not support item assignment

In [12]:
# change my_string from 'y range' to 'x range'.
# YOUR CODE HERE

##### references
Compound objects, like strings, take to much computing effort to copy. 
So, after *this_string = that_string*, the variable *this_string* is just another name for the object *that_string*. 
In particular, that means any change you make to the second actually changes the first.

What happens if you do this:
```
this_string = 'y range'
that_string = this_string
that_string.replace('y','x')
```

If you want a copy of a string, you have to say so
```
this_string = 'y range'
that_string = this_string[:]
that_string.replace('y','x')
```

**watch out for this. It will bite you**

In [12]:
this_string = 'y range'
that_string = this_string
that_string.replace('y','x')
print(this_string)
print(that_string)

y range
y range

In [13]:
this_string = 'y range'
that_string = this_string[:]
that_string.replace('y','x')
print(this_string)
print(that_string)

y range
y range

In [17]:
this_string = 'y range'
print(this_string)
this_string.replace('y','x')
print(this_string)

y range
y range